@font-face {
  font-family: "Lato";

  src: url("assets/fonts/Lato/Lato-Regular.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";

  src: url("assets/fonts/Lato/Lato-Bold.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";

  src: url("assets/fonts/Lato/Lato-Light.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 95px;
}

.main {
  width: 1020px;
  font-family: "Lato";
}

/* Header style */

.header {
  position: fixed;
  z-index: 41;

  display: flex;
  justify-content: space-between;
  height: 95px;

  color: #ffffff;

  background-color: #2d303a;
}

.header:after {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;

  content: "";
}

.logo {
  margin-left: 40px;
  margin-top: 37px;

  font-size: 25px;
  line-height: 14px;
  vertical-align: text-top;
  word-spacing: -5px;
}

.singolo {
  letter-spacing: -0.5px;
}

.asterisk {
  color: #f06c64;
}

.nav-menu {
  margin-top: 44px;
  margin-right: 39px;
}

.nav-list {
  display: flex;

  margin: 0;
  padding: 0;

  font-size: 12px;
  letter-spacing: -0.1px;
  list-style: none;
}

.nav-list__item:not(:last-child):after {
  position: absolute;

  width: 2px;
  height: 2px;
  margin-left: 14px;
  margin-top: 4px;

  background-color: #494e62;
  border-radius: 50%;

  content: "";
}

.nav-list :last-child {
  margin-right: 0;
}

.nav-list__item {
  position: relative;

  margin-right: 30px;

  line-height: 9px;
  vertical-align: text-top;
}

.nav-list__item.m-active {
  color: #f06c64;
}

/* First section - slider */

.slider {
  position: relative;

  display: flex;
  align-items: center;
  height: 600px;
}

.slider:after {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 6px;

  background-color: #ea676b;

  content: "";
}

.slider-block__item {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.slider-block {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
}

.slider-block__item.first {
  background-color: #f06c64;
}

.slider-block__item.second {
  background-color: #8264f0;
}

.slider-content {
  overflow: hidden;
}

.vertical {
  margin-left: 112px;
  margin-top: 53px;
}

.horizontal {
  margin-left: 73px;
  margin-top: 174px;
}

.slider-content {
  height: 100%;
  width: 100%;
}

.slider-arrows {
  position: absolute;

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 33px;
}

.chev {
  width: 34px;
  height: 34px;
  margin-bottom: 12px;

  background-image: url("assets/images/chev.png");
  background-repeat: no-repeat;
  background-position: center;
}

.chev:hover {
  cursor: pointer;
  background-size: 60%;
}

.r {
  transform-origin: center;
  transform: rotate(180deg);
}

/* Second section - our-service */

.our-service {
  position: relative;

  padding: 67px 38px 56px 38px;

  color: #666d89;

  background-color: #f2f2f2;
}

.our-service:after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ffffff;

  content: "";
}

.our-service > .text-header {
  margin: 0;

  font-size: 2em;
  line-height: 22px;
  letter-spacing: -0.5px;
  font-family: "Lato-Bold";
  font-weight: 900;
}

.text-block {
  font-family: "Lato-Light";
  margin: 31px 0;
  line-height: 16px;
  font-size: 18px;
  letter-spacing: 0.15px;
  word-spacing: -0.1px;
  padding-left: 2px;
}

.text-block :first-child {
  margin-bottom: 14px;
}

.text-block__item {
  display: block;
}

.nav-list__item:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.4);

  cursor: pointer;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-list__item {
  display: flex;
  width: 300px;
  height: 86px;
  margin: 19px 20px 18px 0;
}

.service-list__item:nth-child(3n) {
  margin-right: 0;
}

.service-text {
  width: 220px;
}

.service-list__item:before {
  width: 59px;
  height: 59px;
  margin: 4px 20px 0 3px;

  content: "";
}

.service-text__header {
  margin: 0 0 8px 0;

  line-height: 23px;
}

.service-text__content {
  margin: 0;
  height: 63px;
  width: 218.42px;

  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  hyphens: manual;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pen:before {
  background-image: url(assets/images/Pen.png);
}
.bulb:before {
  background-image: url(assets/images/Bulb.png);
}
.heart:before {
  background-image: url(assets/images/Heart.png);
}
.phone:before {
  background-image: url(assets/images/Phone.png);
}
.bubble:before {
  background-image: url(assets/images/Bubble.png);
}
.star:before {
  background-image: url(assets/images/Star.png);
}

/* Third section - portfolio */

.portfolio {
  position: relative;

  padding: 40px;

  color: #666d89;

  background-color: #2d303a;
}

.portfolio {
  padding-bottom: 53px;
}

.portfolio:after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;

  content: "";
}

.portfolio > .text-header,
.about-us > .text-header {
  margin: 27px 0;

  font-size: 19px;
  line-height: 22px;
  letter-spacing: 1.3px;
  font-family: "Lato";
}

.field {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.menu-list {
  display: flex;

  margin: 13px 0 19px 0;
  padding: 0;

  list-style: none;
}

.list__item {
  margin-right: 9px;
  padding: 0 0.7%;

  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0px;

  border-radius: 5px;
  border: 1px solid #666d89;
}

.list__item.m-active {
  color: #dedede;

  border-color: #dedede;
}

.content {
  display: flex;
  max-height: 621px;

  flex-wrap: wrap;
  overflow: hidden;
}

.content__item {
  margin-right: 20px;
  margin-bottom: 17px;
}

.content :nth-child(4n) {
  margin-right: 0;
}

/* Fourth section - about-us */

.about-us {
  position: relative;

  padding: 40px;

  color: #666d89;

  background-color: #f2f2f2;
}

.about-us > .text-header {
  margin-bottom: 24px;
}

.people {
  display: flex;

  padding: 45px 0 12px 0;
}

.people__item {
  margin-right: 19px;
}

.name > h3 {
  width: 300px;
  margin: 14px 0 14px 0;

  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.2px;
  text-align: justify;
}

.social-list {
  display: flex;

  margin: 22px 0;
  padding: 0;

  list-style: none;
}

.social-list__item {
  width: 32px;
  height: 32px;
  margin-right: 8px;

  border-radius: 50%;
  border: 1px solid #666d89;
  background-position: center;
}

.facebook {
  background-image: url(assets/images/facebook.png);
}

.twitter {
  background-image: url(assets/images/twitter.png);
}

.google {
  background-image: url(assets/images/google+.png);
}

.linkedin {
  background-image: url(assets/images/linkedin.png);
}

.list__item:hover {
  color: #dedede;

  cursor: pointer;
  border-color: #dedede;
}

.social-list__item:hover {
  cursor: pointer;
}

.about-us:after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ffffff;

  content: "";
}

/* Fifth section - get-a-quote */

.get-a-quote {
  position: relative;

  padding: 40px;

  color: #f0d8d9;

  background-color: #f06c64;
}

.get-a-quote:after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ea676b;

  content: "";
}

.get-a-quote > .text-header {
  margin: 27px 0;
  margin-bottom: 24px;

  font-size: 18.5px;
  line-height: 22px;
  letter-spacing: 1.3px;
  font-family: "Lato";
}

.form {
  display: flex;

  padding: 44px 0 14px 0;
}

input {
  height: 38px;
}
textarea {
  height: 202px;

  font-family: "Lato";
  resize: none;
}

.input {
  width: 100%;
  margin-bottom: 16px;
  padding: 10px 14.5px;

  color: #f0d8d9;

  background-color: #d6564f;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-info {
  width: 438px;
  padding-left: 20px;
}

.input::placeholder {
  font-size: 12px;
  font-family: "Lato";
  color: #f48c8f;
}

.form__header > * {
  margin: 0;
  margin-bottom: 10px;

  font-size: 17.5px;
  line-height: 18.5px;
  letter-spacing: 0.5px;
  text-indent: 1px;
}

.form__desc {
  margin-bottom: 23px;

  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: justify;
  word-break: break-all;
  hyphens: manual;
}

.form__contact {
  position: relative;

  font-size: 12px;
}

.form__contact > * > a {
  text-decoration: none;
  color: inherit;
}

.form__contact > * {
  margin-left: 24px;
  margin-bottom: 6px;
}

.form__contact > *::before {
  position: absolute;
  left: 0;

  width: 14px;
  height: 15px;

  background-repeat: no-repeat;
  background-position: center;

  content: "  ";
}

.tel::before {
  background-image: url(assets/images/contact-phone.png);
}
.email::before {
  background-image: url(assets/images/contact-mail.png);
}
.address::before {
  background-image: url(assets/images/contact-location.png);
}

.menu-list {
  display: flex;

  margin: 13px 0 19px 0;
  padding: 0;

  list-style: none;
}

.desc {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.15px;
  font-family: "Lato-Light";
}

.people {
  display: flex;

  padding: 45px 0 12px 0;
}

.social-list {
  display: flex;

  margin: 22px 0;
  padding: 0;

  list-style: none;
}

.social-list__item {
  width: 32px;
  height: 32px;
  margin-right: 8px;

  border-radius: 50%;
  border: 1px solid #666d89;
  background-position: center;
}

.footer-menu > .menu-list {
  margin: 0;
}

.footer-menu :last-child {
  margin: 0;
}

.social-list__item:hover {
  cursor: pointer;
}

.copy {
  padding: 11px 0;

  font-size: 12px;
  line-height: 10px;
  letter-spacing: -0.1px;
  text-indent: 2px;
}

.footer {
  display: flex;
  justify-content: space-between;

  padding: 22px 40px;

  color: #666d89;

  background-color: #2d303a;
}

.b-submit {
  width: 100px;
  margin-left: 84.5%;

  font-size: 15px;
  font-family: "Lato";
  color: #f48c8f;

  cursor: pointer;
}

.b-submit:hover {
  background-color: #f2f2f2;
}

.btn {
  position: absolute;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  cursor: pointer;
}

.btn.v {
  bottom: 98px;
  left: 200px;
  z-index: 1;
}
.btn.h {
  bottom: 299px;
  left: 435px;
  z-index: 1;
}

.screen {
  position: absolute;

  display: none;

  background-color: #000000;
}

.screen.v {
  left: 126px;
  top: 118px;

  width: 188px;
  height: 333px;
}

.screen.h {
  left: 485px;
  top: 188px;

  height: 188px;
  width: 333px;
}

.content__item > img {
  position: relative;
  z-index: 1;
}

.content__item.m-active:before {
  outline: 5px solid #f06c64;
  position: absolute;

  width: 220px;
  height: 187px;

  content: " ";
}

.window {
  position: fixed;
  z-index: 2;

  display: none;
  width: 1020px;
  height: 100vh;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

.window-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 95px;
  max-width: 500px;

  font-family: "Lato";
  color: #666d89;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
}

.window-hide {
  align-self: flex-end;
  width: max-content;
  margin: 0;
  margin-top: 20px;

  border: 1px solid #666d89;
  color: #666d89;

  background-color: #f2f2f2;
  cursor: pointer;
}

.window-field {
  margin: 5px 0;

  text-overflow: ellipsis;
  overflow: hidden;
}

.window-name {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 900;
  color: #51566d;
}
